:root {
  --bg: #0f1c32;
  --text: #e5e7eb;
  --accent: #38bdf8;
  --highlight: #facc15;
}
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* navbar */
.navbar {
  background: #111;
  padding: 15px 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.navbar-brand h4 {
  color: #3783d4;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}
.navbar-brand h4:hover {
  color: #fff;
}
/* nav links */
.navbar .nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 15px;
  border-radius: 30px;
  transition: all 0.3s ease;
  position: relative;
}
.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background: #3780d4;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link:focus::after {
  width: 100%;
}
.navbar .nav-link:hover {
  color: #3780d4 !important;
  transform: scale(1.05);
}
.navbar .nav-link i {
  color: #3780d4;
  transition: color 0.3s ease;
}
.navbar .nav-link:hover i {
  color: #fff;
}
.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon {  /* menu bar*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2317a2b8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* Home Section */
#home {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}
.bgimg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  background-color: #3780d4;
  filter: brightness(40%); 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About */
#about {
  background-color: var(--bg);
  color: var(--text);
  padding-top: 100px;
  margin: 100px;
}

.saiimg {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid var(--accent);
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(56, 189, 248, 0.3);
  transition: transform 0.3s ease;
}

.saiimg:hover {
  transform: scale(1.05);
}

/* Skills */
#skills {
  background-color: var(--bg);
  margin-top: 220px;
}

.skill-box {
  background: #111827;
  border-radius: 12px;
  padding: 30px 10px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(56, 189, 248, 0.2);
}
.skill-box i {
  font-size: 4rem;
  margin-bottom: 10px;
}

.skill-box h5 {
  margin-top: 10px;
  color: var(--text);
  font-weight: 600;
}
.skill-box:hover {
  transform: scale(1.08);
  background: #1e293b;
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.3);
}

/* projects */
#project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.psimg{
  width: 200px;
  display: block;
  margin: auto;
}
.ps{
  background-color: #111827;
  box-shadow: 0 5px 15px rgba(56, 189, 248, 0.2);
}
.ps:hover {
  transform: scale(1.08);
  background: #1e293b;
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.3);
}

@media screen and (max-width: 576px){
  #home{
    height: 50vh;
  }
}
